#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Board */
.board-container{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/* Roullete */
.roulette-container{
  width: 380px;
  height: 380px;
  border: red solid 1px;
  position: relative;
}

.roulette,
.central-number,
.next {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.next{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  top: 240px;
  left: 90px;
}

.next-number {
  min-width: 40px;
  min-height: 40px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
  border: black solid 1px;
  border-radius: 5px;
  font-size: 20px;
  top: 130px;
}

.central-number {
  min-width: 60px;
  min-height: 60px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
  border: black solid 2px;
  border-radius: 5px;
  font-size: 40px;
}

.roulette-number{
  border: solid black 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

/* Places Wheel */
.wheel-container{
  width: 380px;
  height: 380px;
  border: red solid 1px;
  position: relative;
}

.wheel-number{
  border: solid black 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.selected{
  border: solid purple 3px;
}

.actual{
  border: solid rgb(255, 219, 16) 3px;
  font-weight: bold;
}

.possible{
  border: solid rgb(38, 0, 255) 3px;
  font-weight: bold;
}

